<html ng-app="app">
    <head>
        <title>NodeJs MongoDB AngularJs</title>
        <link type="text/css" rel="stylesheet" href="../css/style.css" />
        <link type="text/css" rel="stylesheet" href="../css/bootstrap.min.css" />
    </head>
<body>
    
    <ng-view></ng-view>

    <script src="../js/angular/angular.min.js"></script>
    <script src="../js/angular/angular-route.min.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/factory/apicall.js"></script>
</body>
</html>