.header {
    margin-top: 35px;
}
.header p {
    text-align: center;
    font-size: 22px;
    font-weight: 900;
}
.addnew {
    float: right;
    cursor: pointer !important;
    border: 1px solid #050;
    background-color: rgba(128, 128, 128, 0.48);
}